@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.card-container{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(180deg, #4ba9eb, #4ba9e9 50%, #fff 50%, #fff 100%);
    font-family: "Poppins";
}